.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  min-height: 260px;
  border-radius: 10px;
  transition: box-shadow 0.2 ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.06);
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
  }

  &__image {
    display: block;
    align-self: center;
    margin-bottom: 15px;
    width: 80%;
    max-height: 160px;
    object-fit: contain;
  }

  &__bottom-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 35px;
  }

  &__title,
  &__price {
    margin: 0;
    font-size: 15px;
    line-height: 1;
    font-weight: normal;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      font-size: 13px;
    }
  }

  &__favorites {
    position: absolute;
    top: -8px;
    left: 0;

    button svg {
      @media screen and (max-width: 575px) {
        width: 18px;
        height: auto;
      }
    }

    .card__favorite svg {
      fill: rgba(255, 0, 0, 0.915);
      filter: drop-shadow();
      transition: fill 0.3s ease-in, filter 0.3s ease-in;
    }
  }

  &__add {
    display: flex;
    justify-content: flex-end;

    button svg {
      @media screen and (max-width: 575px) {
        width: 18px;
        height: auto;
      }
    }
  }
}
