@import './scss/variables';

body {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lighten($secondary-text-color, 20%);
  color: $primary-text-color;

  .lock-scroll {
    overflow: hidden;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui;
}

.main-content {
  padding: $padding-desktop;
  padding-top: calc($header-height-desktop + 20px);
  min-height: 100vh;

  @media screen and (max-width: 767px) {
    padding: $padding-mobile;
    padding-top: calc($header-height-mobile + 20px);
  }
}

.blur {
  filter: blur(20px);
}

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  background-color: $primary-bgc;
  border-radius: $border-radius;
}

.button {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: $border-radius;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.greenButton {
  width: 100%;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #9dd558;
  border-radius: $border-radius;
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:disabled {
    background-color: #bebebe;
    cursor: default;
  }

  &:hover {
    background-color: lighten($color: #9dd558, $amount: 10%);
  }

  &:active {
    background-color: darken($color: #9dd558, $amount: 10);
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}
