@import './scss/variables';

body {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lighten($secondary-text-color, 20%);
  color: $primary-text-color;

  .lock-scroll {
    overflow: hidden;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui;
}

.main-content {
  padding: $padding-desktop;
  padding-top: calc($header-height-desktop + 20px);
  min-height: 100vh;

  @media screen and (max-width: 767px) {
    padding: $padding-mobile;
    padding-top: $header-height-desktop;
  }
}

.blur {
  filter: blur(20px);
}

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  background-color: $primary-bgc;
  border-radius: $border-radius;
}

.button {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: $border-radius;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px !important;
  }
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
  }

  div {
    position: relative;
    top: -4px;
    margin: 0 7px;
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
  }

  .greenButton {
    position: relative;

    &:disabled {
      -webkit-animation: button-loading 0.8s ease-in-out infinite;
      animation: button-loading 0.8s ease-in-out infinite;
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: $border-radius;
  overflow: hidden;
  padding: 20px;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
  }

  b {
    font-size: 13px;
  }

  .removeBtn {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

@-webkit-keyframes button-loading {
  0% {
    overflow: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes button-loading {
  0% {
    overflow: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #9dd558;
  border-radius: $border-radius;
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:disabled {
    background-color: #bebebe;
    cursor: default;
  }

  &:hover {
    background-color: lighten($color: #9dd558, $amount: 10%);
  }

  &:active {
    background-color: darken($color: #9dd558, $amount: 10);
  }
}
