$header-height-desktop: 120px;
$header-height-mobile: 90px;

$padding-desktop: 40px;
$padding-mobile: 20px;

$primary-bgc: #fff;
$primary-text-color: #202020;
$secondary-text-color: #bdbdbd;
$primary-bottom-color: #eaeaea;
