.page-orders {
  &__wrap {
    margin-bottom: 40px;
  }

  &__title {
    flex: 1;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    transition: font-size ease-in-out 0.3s;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
    @media screen and (max-width: 575px) {
      font-size: 13px;
    }
  }
}
